root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
end_of_line = lf

dotnet_diagnostic.CA1000.severity = none

dotnet_diagnostic.CS1591.severity = none

dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1309.severity = none
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1602.severity = none
dotnet_diagnostic.SA1633.severity = none

[*.md]
trim_trailing_whitespace = false

[*.{cs,cake}]
indent_size = 4
